<section id="csrf-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wblue">
                        <div ht-widget-header title="Update Profile"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <form>
                                <label>Update Your Profile:</label><br><br>
                                <span class="pull-left"><label>First Name:<label><input type="text" ng-model="user.firstName"></input></span>
                                <span class="pull-left"><label>Last Name:<label><input type="text" ng-model="user.lastName"></input></span>
                                <input type="submit" ng-click="vm.updateProfile(user)" value="Submit"></input><br><br>
                            </form>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wblue">
                        <div ht-widget-header title="User Profile"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <button ng-click="vm.getProfile()">Get Latest User Profile</button>
                            <br>
                            <br>
                            <label>First Name: {{vm.user.firstName}}</label>
                            <br>
                            <label>Last Name: {{vm.user.lastName}}</label>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>